<article>
  <header class="frontmatter">
    <.page_title page_title={@page.meta.title}/>
    <span id="date-src"><%= DateTime.utc_now |> Calendar.strftime("%A, %B %d, %Y") %></span>
  </header>
  <%= @page.content |> raw %>
</article>
