*.exs filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.gitmodules filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.babelrc filter=lfs diff=lfs merge=lfs -text
*.scss filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ex filter=lfs diff=lfs merge=lfs -text
*.haml filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.pot filter=lfs diff=lfs merge=lfs -text
*.md !text !filter !merge !diff
.gitignore !text !filter !merge !diff
.gitmodules !text !filter !merge !diff
*.exs !text !filter !merge !diff
*.lock !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.css !text !filter !merge !diff
*.scss !text !filter !merge !diff
*.js !text !filter !merge !diff
*.json !text !filter !merge !diff
*.babelrc !text !filter !merge !diff
*.po !text !filter !merge !diff
*.pot !text !filter !merge !diff
*.haml !text !filter !merge !diff
*.ex !text !filter !merge !diff
*.svg !text !filter !merge !diff
