<%= if @page do %>
	<article>
		<%= @page.content |> raw %>
	</article>
<% end %>
<%= for {name, images} <- @gallery do %>
	<h2><%= name %></h2>
	<div class="container d-flex flex-wrap">
		<%= for image <- images do %>
			<div class="async-image" data-src={[@directory, image] |> Path.join}></div>
		<% end %>
	</div>
<% end %>
