// https://iamkate.com/data/12-bit-rainbow/

$krm-wine: #817;
$krm-burgundy: #a35;
$krm-coral: #c66;
$krm-orange: #e94;
$krm-yellow: #ed0;
$krm-lime: #9d5;
$krm-green: #4d8;
$krm-teal: #2cb;
$krm-sea: #0bc;
$krm-sky: #09c;
$krm-blue: #36b;
$krm-navy: #639;
