// @import "prism-themes/themes/prism-atom-dark"; // needs line-height fix the other way
// @import "prism-themes/themes/prism-vsc-dark-plus"; // needs line-height fix the other way // current
// @import "prism-themes/themes/prism-solarized-dark-atom";
// @import "prism-themes/themes/prism-cb"; // needs more token colors

// @import "prism-themes/themes/prism-dracula"; // needs line-height fix
// @import "prism-themes/themes/prism-gruvbox-dark"; // needs line-height fix
// @import "prism-themes/themes/prism-holi-theme"; // needs line-height fix
// @import "prism-themes/themes/prism-material-oceanic"; // needs line-height fix
// @import "prism-themes/themes/prism-night-owl"; // needs line-height fix
// @import "prism-themes/themes/prism-synthwave84"; // needs line-height fix and more token colors

@import "highlight.js/scss/github-dark";

:root {
  $ansi-red: lighten($ansi-red, 10%);
  --ansi-red: #{$ansi-red};
  --ansi-red-bg: #{transparentize($ansi-red, 0.65)};

  --ansi-orange: #{$ansi-orange};
  --ansi-orange-bg: #{transparentize($ansi-orange, 0.65)};

  --ansi-yellow: #{$ansi-yellow};
  --ansi-yellow-bg: #{transparentize($ansi-yellow, 0.65)};

  --ansi-green: #{$ansi-green};
  --ansi-green-bg: #{transparentize($ansi-green, 0.65)};

  $ansi-blue: lighten($ansi-blue, 15%);
  --ansi-blue: #{$ansi-blue};
  --ansi-blue-bg: #{transparentize($ansi-blue, 0.65)};

  $ansi-purple: lighten($ansi-purple, 20%);
  --ansi-purple: #{$ansi-purple};
  --ansi-purple-bg: #{transparentize($ansi-purple, 0.65)};

  --iso-red: #{$iso-red};
  --iso-red-bg: #{transparentize($iso-red, 0.85)};

  --iso-yellow: #{$iso-yellow};
  --iso-yellow-bg: #{transparentize($iso-yellow, 0.85)};

  $iso-green: lighten($iso-green, 10%);
  --iso-green: #{$iso-green};
  --iso-green-bg: #{transparentize($iso-green, 0.85)};

  $iso-blue: lighten($iso-blue, 20%);
  --iso-blue: #{$iso-blue};
  --iso-blue-bg: #{transparentize($iso-blue, 0.85)};

  --iso-white: #{$iso-white};
  --iso-black: #{$iso-black};

  --intl-aero-orange: #{$intl-aero-orange};

  --blue-capri: #{$blue-capri};
  --blue-carolina: #{$blue-carolina};

  --crayola-sky-blue: #{$crayola-sky-blue};

  $charcoal: lighten($charcoal, 10%);
  --charcoal: #{$charcoal};
  --charcoal-bg: #{transparentize($charcoal, 0.85)};

  --bg: var(--iso-black);
  --text-fg: var(--iso-white);
  --header-color: #{$tyrian-purple};
}

a {
  color: var(--crayola-sky-blue);

  &:hover {
    color: var(--blue-carolina);
  }

  &:visited {
    color: var(--blue-capri);
  }
}
