@import "highlight.js/scss/base16/atelier-seaside";
// @import "highlight.js/scss/base16/atelier-cave";
// @import "highlight.js/scss/arta";
// @import "highlight.js/scss/an-old-hope";
// @import "highlight.js/scss/paraiso-dark";
// @import "highlight.js/scss/dracula";
// @import "highlight.js/scss/shades-of-purple";
// @import "highlight.js/scss/tomorrow-night-bright";
// @import "highlight.js/scss/xt256";

.codeblock-sh {
	@import "highlight.js/scss/vs2015";
}

.codeblock-text,
.codeblock-term,
.codeblock-cosmos {
	@import "highlight.js/scss/gradient-dark";
}

:root {
	$ansi-red: lighten($ansi-red, 10%);
	--ansi-red: #{$ansi-red};
	--ansi-red-bg: #{transparentize($ansi-red, 0.65)};

	--ansi-orange: #{$ansi-orange};
	--ansi-orange-bg: #{transparentize($ansi-orange, 0.65)};

	--ansi-yellow: #{$ansi-yellow};
	--ansi-yellow-bg: #{transparentize($ansi-yellow, 0.65)};

	--ansi-green: #{$ansi-green};
	--ansi-green-bg: #{transparentize($ansi-green, 0.65)};

	$ansi-blue: lighten($ansi-blue, 15%);
	--ansi-blue: #{$ansi-blue};
	--ansi-blue-bg: #{transparentize($ansi-blue, 0.65)};

	$ansi-purple: lighten($ansi-purple, 20%);
	--ansi-purple: #{$ansi-purple};
	--ansi-purple-bg: #{transparentize($ansi-purple, 0.65)};

	--iso-red: #{$iso-red};
	--iso-red-bg: #{transparentize($iso-red, 0.85)};

	--iso-yellow: #{$iso-yellow};
	--iso-yellow-bg: #{transparentize($iso-yellow, 0.85)};

	$iso-green: lighten($iso-green, 10%);
	--iso-green: #{$iso-green};
	--iso-green-bg: #{transparentize($iso-green, 0.85)};

	$iso-blue: lighten($iso-blue, 20%);
	--iso-blue: #{$iso-blue};
	--iso-blue-bg: #{transparentize($iso-blue, 0.85)};

	--iso-white: #{$iso-white};
	--iso-black: #{$iso-black};

	--intl-aero-orange: #{$intl-aero-orange};

	--blue-capri: #{$blue-capri};
	--blue-carolina: #{$blue-carolina};

	--crayola-sky-blue: #{$crayola-sky-blue};

	$charcoal: lighten($charcoal, 10%);
	--charcoal: #{$charcoal};
	--charcoal-bg: #{transparentize($charcoal, 0.85)};

	--bg: var(--iso-black);
	--text-fg: var(--iso-white);
	--header-color: #{$tyrian-purple};
}

a {
	color: var(--crayola-sky-blue);

	&:hover {
		color: var(--blue-carolina);
	}

	&:visited {
		color: var(--blue-capri);
	}
}
