//  GitHub color schemes
// <https://github.com/github/linguist/blob/master/lib/linguist/languages.yml>

$lang-c: #555;
$lang-cosmos: #8b44ff;
$lang-cpp: #f34b7d;
$lang-erlang: #b83998;
$lang-elixir: #6e4a7e;
$lang-html: #e34c26;
$lang-js: #f1e05a;
$lang-pwsh: #012456;
$lang-rust: #dea584;
$lang-shell: #89e051;
$lang-toml: #9c4221;
$lang-xml: #0060ac;

$lang-plaintext: lighten(#40434e, 15%);
