//  GitHub color schemes

$lang-c: #555;
$lang-cpp: #f34b7d;
$lang-elixir: #6e4a7e;
$lang-js: #f1e05a;
$lang-pwsh: #012456;
$lang-rust: #dea584;
$lang-shell: #89e051;
$lang-toml: #ccc;
$lang-xml: #e44b23;
