//  GitHub color schemes
// <https://github.com/github/linguist/blob/master/lib/linguist/languages.yml>

$c: #555 !default;
$cosmos: #8b44ff !default;
$cpp: #f34b7d !default;
$css: #663399 !default;
$erlang: #b83998 !default;
$elixir: #6e4a7e !default;
$html: #e34c26 !default;
$js: #f1e05a !default;
$md: #083fa1 !default;
$pwsh: #012456 !default;
$rust: #dea584 !default;
$scss: #c6538c !default;
$shell: #89e051 !default;
$console: $shell !default;
$toml: #9c4221 !default;
$xml: #0060ac !default;

$text: lighten(#40434e, 15%) !default;
