// @import "prism-themes/themes/prism-coy-without-shadows";
// @import "prism-themes/themes/prism-material-light"; // needs line-height fix, font shrink
// @import "prism-themes/themes/prism-vs"; // needs line-height fix

@import "prism-themes/themes/prism-duotone-light";
// @import "prism-themes/themes/prism-one-light";

// @import "prismjs/themes/prism-okaidia";
// @import "prism-themes/themes/prism-coldark-dark";
// @import "prism-themes/themes/prism-dracula";
// @import "prism-themes/themes/prism-holi-theme";
// @import "prism-themes/themes/prism-hopscotch";
// @import "prism-themes/themes/prism-material-oceanic";
// @import "prism-themes/themes/prism-night-owl";
// @import "prism-themes/themes/prism-pojoaque";
// @import "prism-themes/themes/prism-solarized-dark-atom";
// @import "prism-themes/themes/prism-synthwave84";
// @import "prism-themes/themes/prism-vsc-dark-plus";
// @import "prism-themes/themes/prism-xonokai";

:root {
	--ansi-red: #{$ansi-red};
	--ansi-red-bg: #{transparentize($ansi-red, 0.65)};

	--ansi-orange: #{$ansi-orange};
	--ansi-orange-bg: #{transparentize($ansi-orange, 0.65)};

	$ansi-yellow: darken($ansi-yellow, 4%);
	--ansi-yellow: #{$ansi-yellow};
	--ansi-yellow-bg: #{transparentize($ansi-yellow, 0.65)};

	--ansi-green: #{$ansi-green};
	--ansi-green-bg: #{transparentize($ansi-green, 0.65)};

	$ansi-blue: lighten($ansi-blue, 10%);
	--ansi-blue: #{$ansi-blue};
	--ansi-blue-bg: #{transparentize($ansi-blue, 0.65)};

	--ansi-purple: #{$ansi-purple};
	--ansi-purple-bg: #{transparentize($ansi-purple, 0.65)};

	--iso-red: #{$iso-red};
	--iso-red-bg: #{transparentize($iso-red, 0.85)};

	--iso-yellow: #{$iso-yellow};
	--iso-yellow-bg: #{transparentize($iso-yellow, 0.85)};

	--iso-green: #{$iso-green};
	--iso-green-bg: #{transparentize($iso-green, 0.85)};

	--iso-blue: #{$iso-blue};
	--iso-blue-bg: #{transparentize($iso-blue, 0.85)};

	--iso-white: #{$iso-white};
	--iso-black: #{$iso-black};

	--intl-aero-orange: #{$intl-aero-orange};

	--blue-capri: #{$blue-capri};
	--blue-carolina: #{$blue-carolina};

	--crayola-sky-blue: #{$crayola-sky-blue};

	$charcoal: lighten($charcoal, 10%);
	--charcoal: #{$charcoal};
	--charcoal-bg: #{transparentize($charcoal, 0.85)};

	--bg: #e0e0e0;
	--text-fg: #1f1f1f;
	--header-color: #{$blue-capri};
}

pre[class*="language-"] {

	&,
	& code[class*="language-"] {
		background-color: lighten(#e0e0e0, 5%);
		color: var(--text-fg);
	}

	font-size: 0.875rem;

	.token.operator,
	.token.entity,
	.token.url,
	.token.variable {
		background-color: inherit;
	}
}
