// @import "prism-themes/themes/prism-coy-without-shadows";
// @import "prism-themes/themes/prism-material-light"; // needs line-height fix, font shrink
// @import "prism-themes/themes/prism-vs"; // needs line-height fix

// @import "prism-themes/themes/prism-duotone-light"; // current
// @import "prism-themes/themes/prism-one-light";

@import "highlight.js/scss/atom-one-light";

:root {
  --ansi-red: #{$ansi-red};
  --ansi-red-bg: #{transparentize($ansi-red, 0.65)};

  --ansi-orange: #{$ansi-orange};
  --ansi-orange-bg: #{transparentize($ansi-orange, 0.65)};

  // $ansi-yellow: darken($ansi-yellow, 4%);
  --ansi-yellow: #{$ansi-yellow};
  --ansi-yellow-bg: #{transparentize($ansi-yellow, 0.65)};

  --ansi-green: #{$ansi-green};
  --ansi-green-bg: #{transparentize($ansi-green, 0.65)};

  // $ansi-blue: lighten($ansi-blue, 10%);
  --ansi-blue: #{$ansi-blue};
  --ansi-blue-bg: #{transparentize($ansi-blue, 0.65)};

  --ansi-purple: #{$ansi-purple};
  --ansi-purple-bg: #{transparentize($ansi-purple, 0.65)};

  --iso-red: #{$iso-red};
  --iso-red-bg: #{transparentize($iso-red, 0.85)};

  --iso-yellow: #{$iso-yellow};
  --iso-yellow-bg: #{transparentize($iso-yellow, 0.85)};

  --iso-green: #{$iso-green};
  --iso-green-bg: #{transparentize($iso-green, 0.85)};

  --iso-blue: #{$iso-blue};
  --iso-blue-bg: #{transparentize($iso-blue, 0.85)};

  --iso-white: #{$iso-white};
  --iso-black: #{$iso-black};

  --intl-aero-orange: #{$intl-aero-orange};

  --blue-capri: #{$blue-capri};
  --blue-carolina: #{$blue-carolina};

  --crayola-sky-blue: #{$crayola-sky-blue};

  $charcoal: lighten($charcoal, 10%);
  --charcoal: #{$charcoal};
  --charcoal-bg: #{transparentize($charcoal, 0.85)};

  --bg: var(--iso-white);
  --text-fg: var(--iso-black);
  --header-color: #{$blue-capri};
}
