// https://iamkate.com/data/12-bit-rainbow/

$wine: #817;
$burgundy: #a35;
$coral: #c66;
$orange: #e94;
$yellow: #ed0;
$lime: #9d5;
$green: #4d8;
$teal: #2cb;
$sea: #0bc;
$sky: #09c;
$blue: #36b;
$navy: #639;
