<article>
	<.page_title page_title="Page Not Found" />
	<p>
		This URL does not have any content associated with it. If you are following
		a link that used to work, please contact me or
		<.github_issue title="Broken Link" body={"The page at `#{@conn.request_path}` 404s unexpectedly. I am pretty sure it used to be %E2%80%A6"} />.
	</p>
</article>
