<article>
  <.page_title page_title="Article Under Construction" />
  <p>
    This URL is valid! However, the article contents it selects are currently
    unable to be rendered. The article source is
    <.link href={@github}>here</.link> and you can file an issue directly, or
    contact me through any other medium. I <em>probably</em> already know it’s
    broken, but I would rather be over-informed than under.
  </p>
</article>
