<article>
	<.page_title page_title="No Such Category" />
	<p>
		There is no index for the category <code><%= @category %></code>, nor
		are there any articles grouped in it.
	</p>
	<p>
		It is unlikely that this has occurred through my mistake, so I am not
		providing a GitHub issue template for this event.
	</p>
</article>
