<footer>
  <hr />
  <p>Like what you read? Consider
  <.link class="browser" href={{:https, "//bsky.app" <> Home.url_to_bsky(@conn.request_path)}}>sharing it on BlueSky!</.link>
  <.link class="mobile" href={{:bluesky, Home.url_to_bsky(@conn.request_path)}}>sharing it on BlueSky!</.link>
  Or, you know. Don’t. Fanfic has a narrow audience.
  </p>
</footer>
