%footer.flex-wrapper.flex-cols
	%span.flex-item.text-left Served with
		%a{href="https://elixir-lang.org"}
			Elixir
			= System.version
		and
		%a{href="https://www.phoenixframework.org"} Phoenix
	- year = DateTime.utc_now().year
	- copy = "© 2012—#{year} Alexander «myrrlyn» Payne"
	%span.flex-item.text-center= copy
	%span.flex-item.text-right Hosted on DigitalOcean
