<nav aria-label="Sitemap">
	<code>$ ls ~<%= @scope %></code>
	<ol style="list-style-type: none; padding-left: 0;">
		<%= for %HomeWeb.Nav.Entry{name: name, url: url, date: date, attrs: attrs} <- (@navtree).() do %>
			<li>
				<%= if date != nil do %>
					<code class="inline"><%= raw(date) %></code>
				<% end %>
				<%= link raw(name), [{:to, url} | attrs] %>
			</li>
		<% end %>
	</ol>
</nav>
