<nav aria-label="Sitemap">
	<code><%= "$ ls ~#{@scope}" %></code>
	<ul style="list-style-type: none; padding-left: 0;">
		<%= for {show, url, perm} <- (@navtree).() do %>
			<li>
				<%= if perm != nil do %>
					<code class="inline"><%= perm %></code>
				<% end %>
				<a href={url}><%= show |> raw %></a>
			</li>
		<% end %>
	</ul>
</nav>
