<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible", content="IE=edge"} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= @title %></title>
		<link rel="stylesheet" type="text/css" href={"#{Routes.static_path(@conn, "/css/klaus.css")}"} />
		<script type="text/javascript" src={"#{Routes.static_path(@conn, "/js/klaus.js")}"}></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_SVG"></script>

		<link rel="icon" type="image/ico" sizes="16x16 32x32 64x64 128x128 256x256 512x512 1024x1024" href="/static/favicons/favicon.ico" />
		<link rel="icon" type="image/svg+xml" sizes="any" href="/oeuvre/images/tones.svg?color=cube-helix&key=d-major&classes=no-names,no-notes" />
		<link rel="apple-touch-startup-image" type="image/svg+xml" sizes="any" href="/oeuvre/images/tones.svg?color=cube-helix&key=d-major&classes=no-names,no-notes" />
		<meta name="robots" content="noindex" />
	</head>
	<body>
		<div id="main" class="flex-wrapper flex-rows">
			<main class="container flex-item flex-cols" role="main">
				<%= @inner_content %>
			</main>
		</div>
	</body>
</html>
