<%= if @toc != [] do%>
	<ol>
		<%= for {show, href, children} <- @toc do %>
			<li>
				<a href={"##{href}"}> <%= show |> raw %> </a>
				<%= render("toc.html", toc: children) %>
			</li>
		<% end %>
	</ol>
<% end %>
