<%= if @toc != [] do%>
	<ol>
		<%= for {show, href, children} <- @toc do %>
			<li>
				<%= link raw(show), to: "#" <> href %>
				<%= render("toc.html", toc: children) %>
			</li>
		<% end %>
	</ol>
<% end %>
