<!DOCTYPE html>
<!--
    |
  ——0—— REGISTERED BY C0DA.
    |
     -->
<!--(It looks better if you click it)-->
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <.live_title prefix={assigns[:tab_prefix]} suffix={assigns[:tab_suffix]}><%= @tab_title %></.live_title>
    <link phx-track-static rel="stylesheet" type="text/css" href={~p"/static/css/#{@flavor <> ".css"}"} />
    <script defer phx-track-static type="text/javascript" src={~p"/static/js/#{@flavor <> ".js"}"}></script>
    <.favicons sizes={[16, 32, 64, 128, 256, 512, 1024]} />
    <.webapp name="myrrlyn" />
    <.og title={@tab_title}, path={@conn.request_path} />
    <.twitter
      title={@tab_title}
      description={if @page, do: @frontmatter.summary, else: nil}
      />
    <%= if @frontmatter do %>
      <meta name="author" content={@frontmatter.props["author"] || "Alexander Payne (myrrlyn)"} />
      <meta :if={@frontmatter.summary} name="description" content={@frontmatter.summary} />
      <meta :for={{name, content} <- @frontmatter.meta} name={name} content={content} />
      <%= for embed <- @frontmatter.props |> Map.get("embeds", []) do %>
        <%= if embed == "twitter" do %>
          <script type="text/javascript" async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <% end %>
        <%= if embed == "mathjax" do %>
          <script type="text/javascript" src={~p"/static/js/mathjax.js"}></script>
          <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
          <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <% end %>
      <% end %>
    <% else %>
      <meta name="author" content="Alexander Payne (myrrlyn)" />
    <% end %>
    <%= view_module(@conn).head(assigns) %>
  </head>
  <body class={@classes}>
    <%= @inner_content %>
  </body>
</html>
