<% # It’s pretty weird that Phoenix chokes on `name.svg.filter` but oh well. %>
<svg xmlns="http://www.w3.org/2000/svg" viewBox={"-#{@dim / 2} -#{@dim / 2} #{@dim} #{@dim}"}>
  <%= @inner_content %>
</svg>
