<footer>
  <hr />
  <p>Have strong opinions in any direction about what you just read? Consider
  <.link class="browser" href={{:https, "//bsky.app" <> Home.url_to_bsky(@conn.request_path)}}>sharing it on BlueSky!</.link>
  <.link class="mobile" href={{:bluesky, "/" <> Home.url_to_bsky(@conn.request_path)}}>sharing it on BlueSky!</.link>
  Or, you know. Don’t. Nobody pays me for these getting out there.
  </p>
</footer>
