<footer>
  <hr />
  <p>Get a kick out of that? Consider
  <.link class="browser" href={{:https, "//bsky.app" <> Home.url_to_bsky(@conn.request_path)}}>sharing it on BlueSky!</.link>
  <.link class="mobile" href={{:bluesky, Home.url_to_bsky(@conn.request_path)}}>sharing it on BlueSky!</.link>
  Or, you know. Don’t. I can evangelize for myself.
  </p>
</footer>
