<link rel="alternate" type="application/atom+xml" href={HomeWeb.Endpoint.url() <> "/blog/atom.xml"} />
<%= for script <- @page.meta.props |> Map.get("scripts", []) do %>
  <% src = ["/", @src_path |> Path.dirname(), script] |> Path.join() |> Path.expand() %>
  <script type="text/javascript" src={src}> </script>
<% end %>
