<article>
  <header class="frontmatter">
    <.page_title page_title={@page.meta.props["page_title"] || @page.meta.title} page_subtitle={@page.meta.subtitle} />
    <nav :if={@page.toc != []} aria-label="Table of Contents"><.toc toc={@page.toc} /></nav>
  </header>
  <hr />
  <section><%= @page.content |> raw %></section>
</article>
