// ANSI Z535
$ansi-red: #bd2024 !default;
$ansi-orange: #ff7900 !default;
$ansi-yellow: #ffe100 !default;
$ansi-green: #159660 !default;
$ansi-blue: #004488 !default;
$ansi-purple: #6f2580 !default;

// ISO 3864
$iso-red: #9b2423 !default;
$iso-yellow: #f9a800 !default;
$iso-green: #237f52 !default;
$iso-blue: #005387 !default;
$iso-white: lighten(#ecece7, 8%) !default;
$iso-black: darken(#2b2b2c, 8%) !default;

$intl-aero-orange: #ff4f00 !default;
$cyber-yellow: #ffd300 !default;

// https://coolors.co/9b5de5-f15bb5-fee440-00bbf9-00f5d4
$amethyst: #9b5de5 !default;
$crayola-magenta: #f15bb5 !default;
$yellow-minion: #fee440 !default;
// Keeping this
$blue-capri: #00bbf9 !default;
$crayola-sea-green: #00f5d4 !default;

// https://coolors.co/5f0f40-9a031e-fb8b24-e36414-0f4c5c
// Light theme only
$tyrian-purple: #5f0f40 !default;
$green-midnight-eagle: #0f4c5c !default;

// https://coolors.co/1be7ff-6eeb83-e4ff1a-ffb800-ff5714
// Lighter capri
$crayola-sky-blue: #1be7ff !default;
// Disposable
$green-light: #6eeb83 !default;
$chartreuse: #e4ff1a !default;
// Best yellow so far
$yellow-selective: #ffb800 !default;

// https://coolors.co/f6511d-ffb400-00a6ed-7fb800-0d2c54
// Disposable
$red-orange: #f6511d !default;
$yellow-honey: #ffb400 !default;
// Slightly darker capri
$blue-carolina: #00a6ed !default;
$green-apple: #7fb800 !default;
// Light only
$blue-prussian: #0d2c54 !default;

// https://coolors.co/080705-40434e-702632-912f40-fffffa
$black-rich-fogra-39: #080705 !default;
$charcoal: #40434e !default;
// Light only
$wine: #702632 !default;
$red-violet: #912f40 !default;
$baby-powder: #fffffa !default;

$amaranth: #a72a2a;
$parchment: hsl(042.4, 048.2%, 83.3%);

@import "color/langs";

:root {
	--white: white;
	--black: black;
	--grey: gray;
}

@media (prefers-color-scheme: light) {
	@import "color/light";
	:root {
		--parchment: #{$parchment};
	}
}

@media (prefers-color-scheme: dark) {
	@import "color/dark";
	:root {
		--parchment: #{darken($parchment, 25%)};
	}
}

body {
	background-color: var(--bg);
	color: var(--text-fg);
}

pre {
	code {
		color: var(--text-fg);
	}
}

main aside,
blockquote {
	&.bq-harm {
		background-color: var(--iso-red-bg);
		border-left-color: var(--iso-red);
		border-right-color: var(--iso-red);
	}

	&.bq-warn {
		background-color: var(--iso-yellow-bg);
		border-left-color: var(--iso-yellow);
		border-right-color: var(--iso-yellow);
	}

	&.bq-safe {
		background-color: var(--iso-green-bg);
		border-left-color: var(--iso-green);
		border-right-color: var(--iso-green);
	}

	&.bq-info {
		background-color: var(--iso-blue-bg);
		border-left-color: var(--iso-blue);
		border-right-color: var(--iso-blue);
	}
}

h1 {
	color: var(--ansi-green);
}

h2 {
	color: var(--ansi-blue);
}

h3 {
	color: var(--ansi-purple);
}

h4 {
	color: var(--ansi-yellow);
}

h5 {
	color: var(--ansi-orange);
}

h6 {
	color: var(--ansi-red);
}

hr {
	border-top-color: var(--text-fg);
	color: var(--text-fg);
}
