
%text-mono {
	font-family: "Iosevka";
}

%text-sans {
	font-family: "Roboto";
}

%text-serif {
	font-family: "Roboto Slab";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %text-mono;
}

p,
span {
	@extend %text-sans;
}
