body.gallery main {
	article {
		width: 100%;
	}

	img.gallery-img {
		@include media-breakpoint-down(md) {
			padding: 4px;
		}

		@include media-breakpoint-up(md) {
			padding: 8px;
		}

		width: 100%;
	}

	.img-block {
		@include media-breakpoint-down(md) {
			width: 100%;
		}

		@include media-breakpoint-up(md) {
			width: 50%;
		}

		border-bottom: 1px solid var(--blue-carolina);
	}

	.img-caption {
		margin: 0 auto;
		text-align: center;
	}
}
