.gallery main {
  padding: 1em;

  img.gallery-img {
    @media (max-width: 36em) {
      padding: 0.25em;
    }

    @media (min-width: 36em) {
      padding: 0.5em;
    }
  }
}

.gallery section {
  border-block-end: 1px solid var(--blue-carolina);
  padding-block: 1em;
}

.img-album {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.img-block {
  display: inline-block;
}

.img-caption {
  margin: 0;
  text-align: center;
}

.iso-7010-gallery .img-block {
  min-width: 8em;
  width: 12.5%;
  max-width: 16em;
}

.banners-gallery .img-block {
  min-width: 16em;
  width: 50%;
}
