@use "sass:math";

$avi-size: 160px;
$avi-rim: 4px;
$avi-height: $avi-size + (2 * $avi-rim);

#gravatar {
  background: {
    image: linear-gradient(
      to bottom,
      var(--bell-blue) 50%,
      var(--bell-ochre) 50%
    );
  }

  border: {
    radius: math.div($avi-size + (2 * $avi-rim), 2);
  }

  padding: $avi-rim;
  width: $avi-size;
  height: $avi-size;
}

#page-logo {
  margin-left: auto;
  margin-right: auto;
  width: $avi-size + (2 * $avi-rim);
}

#gravatar {
  #face {
    border-radius: 50%;
  }

  #minute,
  #hour {
    stroke: var(--iso-black);
  }

  .clock-hand {
    stroke-width: 3px;
  }
}

main > header {
  min-height: math.div($avi-size, 2);
}
