#gravatar {
	background: {
		color: $yellow-minion;
	}
	border: {
		radius: ($avi-size + (2 * $avi-rim)) / 2;
	}
	padding: $avi-rim;
	width: $avi-size;
	height: $avi-size;
}

#about {
	.logo {
		margin: {
			top: 16px;
			left: auto;
			right: auto;
			bottom: 16px;
		}
		&.gravatar {
			width: $avi-size + (2 * $avi-rim);
		}
	}
}
