//  Ensure that the body will always be rendered to the full height of the
//  viewport, even if the content is short enough that the body would not
//  ordinarily reach the bottom.
html {
	height: 100%;
}
body {
	min-height: 100%;
}

.screen-only {
	@media not screen {
		display: none !important;
	}
}

.flex-wrapper {
	@include media-breakpoint-up(sm) {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}

.flex-rows {
	flex: {
		direction: column;
		wrap: wrap;
	}
}

.flex-cols {
	flex: {
		direction: row;
		wrap: wrap;
	}
}

.flex-item {
	flex: {
		basis: 100%;
	}
}

.grid-wrapper {
	display: -moz-grid;
	display: -ms-grid;
	display: grid;
}

@include media-breakpoint-up(sm) {
	.grid-cols {
		grid-template-columns: repeat(3, 1fr);
	}
}

header {
	background: {
		color: var(--header-color);
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	border-bottom: {
		color: var(--border-color);
		style: solid;
		width: $header-border;
	}
	height: $header-height;
}

#main {
	justify-content: center;
	margin: {
		left: auto;
		right: auto;
	}
	max-width: $content-width-max;
	@include media-breakpoint-up(xl) {
		border: {
			left: {
				color: var(--border-color);
				style: solid;
				width: $vertical-border;
			}
			right: {
				color: var(--border-color);
				style: solid;
				width: $vertical-border;
			}
		}
	}
}

$about-clear: ($avi-height / 2) - $header-border;
#about {
	@include media-breakpoint-up(md) {
		flex: 1.5 1 0%;
	}
	@include media-breakpoint-up(md) {
		border-right: {
			color: var(--border-color);
			style: solid;
			width: $vertical-border;
		}
		order: 1;
		min-width: 15em;
		max-width: 25em;
	}
	//  Get ready for some fuckery
	@include media-breakpoint-up(md) {
		.logo.gravatar a {
			position: absolute;
			top: $header-height - ($avi-height + $header-border) / 2;
		}
		#about-text {
			margin-top: $about-clear;
		}
	}

	> .contents {
		margin: 0 auto;
		max-width: 30em;
	}
}

#about-logos {
	margin-top: 1em;
}

main {
	@include media-breakpoint-up(md) {
		article,
		section {
			max-width: 60em;
		}
	}
	&.flex-item {
		@include media-breakpoint-up(md) {
			flex: 4 0 0%;
			order: 2;
		}
	}
}

footer {
	border-top: {
		color: var(--border-color);
		style: solid;
		width: $footer-border;
	}

	.flex-item {
		flex: 1 0 0%;
		height: 1em;
	}
}

body.hide-panels {
	#about,
	#nav,
	#anchor-wrap,
	header,
	footer {
		display: none;
	}
}

@include media-breakpoint-up(md) {
	@media only screen and (min-height: 800px) {
		body:not(.hide-panels) {
			#main,
			#about {
				// not sure where the extra 12px are coming from
				height: calc(100vh - #{core-height()} + 12px);
			}
		}
		main {
			height: inherit;
		}
		#about-text {
			height: calc(100% - #{$about-clear});
		}
		main,
		#about-text {
			overflow-y: auto;
		}
	}
}
