@use "sass:math";
@use "font";
@use "color";

// @import "normalize_op";

* {
  line-height: 1.25;
}

%heading {
  font-family:
    /* "Ferro Rosso", */
    "Roboto Slab", serif;
  font-style: normal !important;
  font-variant: small-caps;
  line-height: 1;
  margin-block-start: 0em;
  margin-block-end: 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading;

  a {
    font-size: 75%;
    position: relative;
    top: -0.2em;
  }

  span::before {
    @extend %text-serif;
    font-size: 85%;
  }
}

h1 {
  color: var(--ansi-blue);
  font-size: 4em;
}

h2 {
  color: var(--ansi-purple);
  font-size: 3.5em;

  &.subtitle {
    color: var(--ansi-orange);
  }
}

h3 {
  color: var(--ansi-green);
  font-size: 3.3em;
}

h4 {
  color: var(--ansi-yellow);
  font-size: 3em;
}

h5 {
  color: var(--ansi-red);
  font-size: 2.5em;
}

h6 {
  color: var(--ansi-orange);
  font-size: 2em;
}

p {
  line-height: 1.5;
  margin: 1em 0;
}

pre {
  overflow-x: auto;
}

mark {
  background-color: $cyber-yellow;
}

img,
picture {
  max-width: 100%;
  display: block;
  padding: 0.5em;
}

ol,
ul {
  margin-top: 0;
}

code {
  font-size: 0.9em;
  color: var(--text-code);
  word-wrap: break-word;
}

pre,
code,
kbd,
samp {
  @extend %text-mono;
}

figure {
  margin-inline: 0;
  padding-inline: 0;

  figcaption {
    font-size: 0.9em;
    text-align: center;
  }

  p {
    margin: 0;
  }
}

article img {
  &.full-width {
    max-width: 100%;
    width: 100%;
  }

  @media (min-width: 36em) {
    &.half-width {
      min-width: 100px;
      width: 50%;
      max-width: 400px;
    }
  }

  &.ctr {
    margin: 0 auto;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media (max-width: 37.7em) {
  table.float-right-lg {
    margin: 0 auto;
  }
}

@media (min-width: 36em) {
  .float-right-lg {
    float: right;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 38em) {
  .clearfix-sm {
    clear: both;
  }
}

body:not(.general) .title {
  font-style: italic;
}

.title,
.subtitle {
  text-align: center;
}

.footnote {
  vertical-align: super;
  font-size: 80%;
}

kbd kbd {
  border-radius: 3px;
  padding: 1px 4px 0;
  border: 1px solid var(--text-fg);
}

body:not(.oeuvre) {

  //  Make the deleted- and inserted- text span tags have visual flair akin to
  //  a highlighter pen
  ins,
  del {
    text-decoration: none;
    padding: 0 0.75em;
    border-top-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
  }

  del {
    background-color: var(--ansi-red);
  }

  ins {
    background-color: var(--ansi-green);
  }
}

aside,
blockquote {
  pre {
    clear: left;
  }

  margin: 0;
}

main aside,
blockquote {
  @include left-chevron(var(--charcoal));

  background: {
    color: var(--charcoal-bg);
  }
}

main aside,
blockquote,
div.code-container {
  margin-block: 1em;

  padding: 1em;

  * {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  :first-child {
    margin-block-start: 0;
  }

  :last-child {
    margin-block-end: 0;
  }
}

.text-center {
  text-align: center;
}

body:is(.blog, .oeuvre) .title {
  font-style: italic;
}

.frontmatter {
  .timestamp {
    float: right;
    border: 1px solid var(--text-fg);
    margin: 0;
    padding: 0 0.5em;
  }
}

:not(blockquote)>hr {
  border: none;
  overflow: visible;
  text-align: center;
  height: 4px;

  body:not(.oeuvre) & {
    border-top: 4px double var(--bell-blue);
    color: var(--bell-ochre);
  }

  body.oeuvre & {
    border-top: 4px double var(--text-fg);
    color: var(--text-fg);
  }

  &::after {
    background: var(--bg);
    content: "§";
    padding: 0 4px;
    position: relative;
    top: -1em;
  }
}

@mixin codeblock($lang, $color) {
  &.codeblock-#{$lang} {
    background-color: transparentize($color, 0.85);
    border-left-color: $color;
    border-right-color: $color;

    &.lang-marker {
      background-color: $color;
    }
  }
}

div.code-container {
  @include left-chevron(var(--charcoal));
  border-right-color: var(--charcoal);
  margin-bottom: 1em;
  padding-right: 1em;

  @include codeblock(c, $lang-c);
  @include codeblock(cpp, $lang-cpp);
  @include codeblock(elixir, $lang-elixir);
  @include codeblock(html, $lang-html);
  @include codeblock(js, $lang-js);
  @include codeblock(rust, $lang-rust);
  @include codeblock(ps1, $lang-pwsh);
  @include codeblock(sh, $lang-shell);
  @include codeblock(shell, $lang-shell);
  @include codeblock(toml, $lang-toml);

  .lang-marker {
    color: var(--text-fg);
    position: relative;
    top: -0.5em;
    left: -1em;
    padding: 0.5em 1em;
    border-bottom-right-radius: 1.5em;
  }

  pre.codeblock {
    margin-top: 0;
  }

  &:not(.codeblock-term) {

    code,
    code span {
      @extend %text-mono;
    }
  }

  &.codeblock-term {

    code,
    code span {
      @extend %text-term;
    }
  }
}

nav[aria-label="Sitemap"] {
  summary {
    list-style: none;
  }

  details:not([open]) summary::after {
    content: "▸";
  }

  details[open] summary::after {
    content: "▾";
  }

  // a[aria-current="page"],
  span:has(a[aria-current="page"]) {
    &::before {
      content: var(--current-page-left);
      padding-inline-end: 0.25em;
    }

    &::after {
      content: var(--current-page-right);
      padding-inline-start: 0.25em;
    }
  }
}

.italic {
  font-variant: italic;
}
