article img {
	display: block;
	&:not(.unset) {
		min-width: 200px;
		width: 33%;
		max-width: 800px;
	}

	&.fullwidth {
		max-width: 100%;
		width: 100%;
	}

	&.halfwidth {
		min-width: 100px;
		width: 20%;
		max-width: 400px;
	}

	&.ctr {
		margin: 0 auto;
	}

	&.right {
		float: right;
		margin-left: 1em;
	}
}

.title {
	font-style: italic;
}

.clearfix {
	clear: both;
}
