@use "sass:math";

@mixin left-chevron($color, $width: 0.5em, $bg: transparent) {
  border: math.div($width, 2) solid $bg;
  border-left: $width solid $color;
  border-right-width: $width;
  padding-left: 1em;
}

@mixin flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//  Creates vendor-prefixed tab-size properties
@mixin tab-size($size) {
  tab-size: $size;
  -o-tab-size: $size;
  -moz-tab-size: $size;
}
