/* This file is for your main application css. */
@import "~bootstrap";

@import "variables";
@import "color";

@import "gravatar";

#about > .contents {
	margin: 0 auto;
	max-width: 30em;
}

/* Alerts and form errors */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	&-info {
		// color: #31708f;
		color: var(--iso-blue);
		background-color: #d9edf7;
		border-color: #bce8f1;
	}
	&-warning {
		// color: #8a6d3b;
		color: var(--iso-yellow);
		background-color: #fcf8e3;
		border-color: #faebcc;
	}
	&-danger {
		// color: #a94442;
		color: var(--iso-red);
		background-color: #f2dede;
		border-color: #ebccd1;
	}

	&:empty {
		display: none;
	}

	p {
		margin-bottom: 0;
	}
}
.invalid-feedback {
	color: #a94442;
	display: block;
	margin: -1rem 0 2rem;
}

%text-mono {
	font-family: "Iosevka";
}

%text-sans {
	font-family: "Roboto";
}

%text-serif {
	font-family: "Roboto Slab";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %text-mono;
}

p,
span {
	@extend %text-sans;
}

h1::before {
	content: "#";
}
h2::before {
	content: "##";
}
h3::before {
	content: "###";
}
h4::before {
	content: "####";
}
h5::before {
	content: "#####";
}
h6::before {
	content: "######";
}

blockquote {
	@include left-chevron(var(--charcoal));
	margin: {
		left: 1em;
		right: 2em;
	}

	:last-child {
		margin-bottom: 0;
	}

	blockquote.iso7010 {
		border: none;
		margin: 0 0;
		padding-left: 0;
		padding-right: 0;
	}
}

pre {
	@include left-chevron(var(--charcoal));

	& > .lang-marker {
		color: var(--text-fg);
		display: block;
		float: left;
		margin-bottom: 0.25em;
	}

	& > .code-container {
		clear: both;
	}

	code,
	code span {
		@extend %text-mono;
	}
}

.iso7010 {
	padding: {
		top: 1em;
		left: 1em;
		right: 1em;
		bottom: 1em;
	}
	&.e003 {
		@include iso7010("e003");
	}
	&.e011 {
		@include iso7010("e011");
	}
	&.f005 {
		@include iso7010("f005");
	}
	&.m001 {
		@include iso7010("m001");
	}
	&.m002 {
		@include iso7010("m002");
	}
	&.m005 {
		@include iso7010("m005");
	}
	&.p001 {
		@include iso7010("p001");
	}
	&.p010 {
		@include iso7010("p010");
	}
	&.p015 {
		@include iso7010("p015");
	}
	&.p025 {
		@include iso7010("p025");
	}
	&.w001 {
		@include iso7010("w001");
	}
	&.w003 {
		@include iso7010("w003");
	}
	&.w004 {
		@include iso7010("w004");
	}
	&.w005 {
		@include iso7010("w005");
	}
	&.w021 {
		@include iso7010("w021");
	}
	&.w027 {
		@include iso7010("w027");
	}
}
