/* This file is for your main application css. */
@use "variables";
@use "font";
@use "color";
@use "iso7010";

@use "layout";
@use "gravatar";
@use "gallery";
@use "style";

@use "components/block";

:root {
  --current-page-left: "👉";
  --current-page-right: "👈";
}

body.crate {
  --current-page-left: "🦀";
  --current-page-right: "⚙️";
}

main article {
  @import "components/aside";
  @import "components/codeblock";
  @import "components/details";
  @import "components/dictionary";
  @import "components/form";
  @import "components/highlight";
  @import "components/figure";
  @import "components/heading";
  @import "components/table";
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &:empty {
    display: none;
  }
}

body,
h1 {
  counter-reset: h2counter;
}

h2 {
  counter-reset: h3counter;
}

h2:not(.no-count) span::before {
  content: counter(h2counter) ".";
  counter-increment: h2counter;
}

h3:not(.no-count) span::before {
  content: counter(h2counter) "." counter(h3counter) ".";
  counter-increment: h3counter;
}

article {
  counter-reset: figcounter;

  & > :first-child {
    margin-block-start: 0;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}

nav .title {
  font-style: italic;
}
