@use "sass:list";
@use "components";
@use "components/block";

@use "variables";
@use "font";
@use "color";
@use "color/iso";
@use "color/krm";

@use "layout";
@use "gravatar";
@use "style";

@mixin font($name, $file: $name) {
  @font-face {
    font-family: $name;
    src: url("/static/fonts/oeuvre/#{$file}.ttf");
  }
}

@include font("Skyrim Handwriting", "Skyrim-Books-Hand");
@include font("Dovah");
@include font("Dwemer");
@include font("Mage Script", "Mage");

.oeuvre {
  --current-page-left: "📖";
  --current-page-right: "🪶";
}

h1 {
  color: var(--ansi-green);
  font-size: 4em;
}

h2 {
  color: var(--ansi-red);
  font-size: 3.5em;

  &.subtitle {
    @media (prefers-color-scheme: light) {
      color: var(--ansi-orange);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--ansi-yellow);
    }
  }
}

h3 {
  color: var(--ansi-blue);
  font-size: 3.25em;
}

h4 {
  color: var(--ansi-orange);
  font-size: 3em;
}

h5 {
  color: var(--ansi-purple);
  font-size: 2.5em;
}

h6 {
  color: var(--ansi-yellow);
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant: small-caps;
  margin: 16px auto;
}

.sz-1 p {
  font-size: 2em;
}

.sz-2 p {
  font-size: 1.75em;
}

.sz-3 p {
  font-size: 1.5em;
}

.sz-4 p {
  font-size: 1.25em;
}

%inline-lang {
  color: var(--text-fg);

  &:hover {
    text-decoration: none;
  }
}

@mixin lang($lang, $font) {
  .#{$lang},
  [lang="#{$lang}"] {
    @extend %inline-lang;
    font-family: $font;
  }
}

@include lang("dovah", "Dovah");
@include lang("dwemer", "Dwemer");
@include lang("ehlnofex", "Mage Script");

.handwriting {
  color: iso.$black;
  font-family: "Skyrim Handwriting";
  font-size: 1.2em;
  letter-spacing: 0.05ch;
}

.translation,
.transliteration {
  @extend %text-serif;
}

blockquote {
  &.handwriting {
    border-left-color: darken(color.$parchment, 60%);

    @media (prefers-color-scheme: light) {
      background-color: transparentize(color.$parchment, 0.15);
    }

    @media (prefers-color-scheme: dark) {
      background-color: transparentize(color.$parchment-dark, 0.15);
    }
  }

  border: {
    top-right-radius: 1em;
    bottom-right-radius: 1em;
    right: none;
  }

  margin-block: 1em;

  padding: {
    block: 0.25em;
    inline: 1em;
  }

  article & {
    @extend %block;
    @include variables.left-chevron(var(--charcoal));
  }

  &.flyer {
    border-color: transparent;
    border-left-color: var(--charcoal);
  }

  &.ehlnofex {
    background-image: repeating-linear-gradient(
      120deg,
      #{krm.$wine} 0,
      #{krm.$burgundy} 4%,
      #{krm.$coral} 8%,
      #{krm.$orange} 12%,
      #{krm.$yellow} 16%,
      #{krm.$lime} 20%,
      #{krm.$green} 25%,

      #{krm.$teal} 30%,
      #{krm.$sea} 34%,
      #{krm.$sky} 38%,
      #{krm.$blue} 42%,
      #{krm.$navy} 46%,
      #{krm.$wine} 50%
    );
    border-color: var(--bg);
    border-left-color: color.$blue-carolina;
    color: var(--text-fg);
    text-shadow: 0 0 1em var(--bg), 0 0 0.5em var(--bg), 0 0 0.5em var(--bg);
  }

  &.dovah {
    border-left-color: color.$red-violet;
  }

  &.special-font {
    font-size: 1.1rem;

    &:not(:hover, :active) > :is(.transliteration, .translation),
    &:is(:hover, :active) > :not(.transliteration, .translation) {
      display: none;
    }

    &:is(:hover, :active) > :is(.transliteration, .translation),
    &:not(:hover, :active) > :not(.transliteration, .translation) {
      display: initial;
    }
  }

  &.piano-key {
    margin-top: 0.5em;
    padding: 0;

    &:not(.last),
    blockquote,
    p {
      margin-block-end: 0;
    }

    p {
      padding-left: 0.5em;
    }

    blockquote {
      background-color: transparent;
      border-color: transparent;
      margin-top: 0;
      margin-left: 0.25em;
      padding: 0;
    }

    &.aedra {
      &,
      blockquote,
      blockquote blockquote {
        border-inline-start-color: var(--iso-white);
      }
    }

    &.daedra.cothot {
      &,
      blockquote {
        border-inline-start-color: var(--iso-black);
      }
    }

    &.daedra:not(.cothot) {
      border-inline-start-color: gray;
    }
  }
}

blockquote.special-font,
span.special-font {
  text-decoration: underline dotted;

  &:is(:hover, :active) {
    @extend %text-serif;
  }
}

blockquote.special-font:is(:hover, :active) p,
span.special-font:is(:hover, :active) {
  &::after {
    content: "(" attr(data-lang) ")";
    font-size: 0.9em;
    font-style: italic;
  }
}

span.special-font:is(:hover, :active) {
  &::after {
    content: "(" attr(data-lang) ": " attr(title) ")";
  }
}

blockquote.special-font p {
  margin-block-start: 0;
  margin-block-end: 0;
}

blockquote {
  &.scourge {
    background-color: transparentize(color.$tyrian-purple, 0.75);
    border-left-color: color.$tyrian-purple;
    font-style: italic;
  }

  &.spellbreaker {
    background-color: transparentize(color.$yellow-selective, 0.75);
    border-left-color: color.$yellow-selective;
    font-variant: small-caps;
  }

  &.malacath,
  &.volendrung {
    background-color: transparentize(color.$forest-green, 0.75);
    border-left-color: color.$forest-green;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
  }
}

figure {
  figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
  }

  &.piano-keys {
    background-color: transparentize(iso.$black, 0.9);
    padding: 0.5em;
  }
}

table {
  border-collapse: collapse;
}

$hcl: (
  // Mara
  #ff0088,
  #ff005d,
  #ff0033,
  #fa3600,
  #e15800,
  #c47000,
  #a18100,
  #798d00,
  #449600,
  #009d00,
  #00a11d,
  #00a353,
  #00a581,
  #00a6af,
  #00a6d9,
  #00a5fe,
  #00a1ff,
  #009bff,
  #0091ff,
  #0081ff,
  #696cff,
  #b74eff,
  #e61edc,
  #ff00b3,
  // Dibella
  #ff0088
);
$cube-helix: (
  // Mara
  #c73cab,
  #e5409c,
  #fb4985,
  #ff586c,
  #ff6b52,
  #ff833d,
  #f59d30,
  #e0b92e,
  #c9d339,
  #b4e950,
  #94f356,
  #6cf65b,
  #49f46c,
  #2eed83,
  #1ee09f,
  #19ceb9,
  #1db7cf,
  #299edd,
  #3a85e1,
  #4d6cda,
  #5e57ca,
  #6a44b3,
  #833eb0,
  #a63cb2,
  // Dibella
  #c73cab
);

@function hue-for($angle) {
  @return hsl($angle + 7.5, 75%, 50%);
}

table#color-table {
  tbody {
    color: white;
    text-shadow: 0 0 1em black, 0 0 0.5em black;
  }

  &.cube-helix tbody {
    @for $num from 1 through list.length($cube-helix) {
      tr:nth-of-type(#{$num}) {
        background-color: list.nth($cube-helix, $num);
      }
    }
  }

  &.hcl tbody {
    @for $num from 1 through list.length($hcl) {
      tr:nth-of-type(#{$num}) {
        background-color: list.nth($hcl, $num);
      }
    }
  }

  &.hsl tbody {
    background-image: linear-gradient(
      hue-for(-30),
      hue-for(0),
      hue-for(30),
      hue-for(60),
      hue-for(90),
      hue-for(120),
      hue-for(150),
      hue-for(180),
      hue-for(210),
      hue-for(240),
      hue-for(270),
      hue-for(300),
      hue-for(330)
    );
  }
}

.codeblock-verse {
  @extend %text-serif;
  font-size: 100%;
}
