@import "bootstrap/scss/bootstrap";

@import "variables";
@import "font";
@import "color";

$avi-rim: 0;

:root {
	--header-color: #{$amethyst};
	--border-color: #{$amaranth};
}

@import "layout";
@import "gravatar";
@import "style";

$T1: hsla(000, 00%, 20%, 0.38);

hr.afterword {
	border-top-color: var(--border-color);
}

#gravatar {
	background-color: var(--border-color);
}

.title,
.subtitle {
	font-style: italic;
	text-align: center;
}

main article,
main section {

	// border-right: 2px solid var(--border-color);
	@include media-breakpoint-up(md) {
		max-width: 46em;
		padding-right: 1em;
	}
}

main aside,
blockquote {
	@include left-chevron(var(--charcoal));

	&:not(.handwriting) {
		background: {
			color: var(--charcoal-bg);
		}
	}

	&.handwriting {
		background: {
			color: var(--parchment);
		}
	}

	border: {
		top-right-radius: 1em;
		bottom-right-radius: 1em;
		right: none !important;
	}

	padding: {
		top: 1px;
		left: 5px;
		right: 2px;
		bottom: 1px;
	}

	margin: {
		left: 1em;
		right: 2em;
		bottom: 1em;
	}

	&.special-font {
		&:not(:hover, :active) {
			blockquote {
				display: none;
			}
		}

		&:hover,
		&:active {
			@extend %text-serif;

			blockquote {
				display: block;
			}
		}
	}

	&.piano-key {

		&:not(.last),
		blockquote {
			margin: {
				bottom: 0;
			}
		}

		blockquote {
			margin: {
				left: 0.25em;
			}
		}

		p {
			margin: {
				bottom: 0;
			}
		}

		&.aedra {

			&,
			blockquote,
			blockquote blockquote {
				border-left-color: var(--white);
			}
		}

		&.daedra.cothot {

			&,
			blockquote {
				border-left-color: var(--black);
			}
		}

		&.daedra:not(.cothot) {
			border-left-color: var(--grey);
		}
	}
}

table#color-table tbody {
	@function hue-for($angle) {
		@return hsl(($angle - 3) * 15, 75%, 50%);
	}

	@mixin row($num) {
		tr:nth-of-type(#{$num}) {
			background-image: linear-gradient(hue-for($num - 0.5), hue-for($num), hue-for($num + 0.5));
		}
	}

	@include row(1);
	@include row(2);
	@include row(3);
	@include row(4);
	@include row(5);
	@include row(6);
	@include row(7);
	@include row(8);
	@include row(9);
	@include row(10);
	@include row(11);
	@include row(12);
	@include row(13);
	@include row(14);
	@include row(15);
	@include row(16);
	@include row(17);
	@include row(18);
	@include row(19);
	@include row(20);
	@include row(21);
	@include row(22);
	@include row(23);
	@include row(24);
	@include row(25);
}

.handwriting {
	font-family: "Skyrim Handwriting";
	font-size: 1.2em;
	letter-spacing: 0.05ch;
}

.translation,
.transliteration {
	@extend %text-serif;
}

@mixin font($name, $file: $name) {
	@font-face {
		font-family: $name;
		src: url("/static/fonts/oeuvre/#{$file}.ttf");
	}
}

@include font("Skyrim Handwriting", "Skyrim-Books-Hand");
@include font("Dovah");
@include font("Dwemer");

%inline-lang {
	color: var(--text-fg);

	&:hover {
		text-decoration: none;
	}
}

@mixin lang($href, $font) {

	a[href$="##{$href}"],
	.#{$href} {
		@extend %inline-lang;
		font-family: $font;
	}
}

@include lang("dovah", "Dovah");
@include lang("dwemer", "Dwemer");
@include lang("ehlnofex", "Mage");

blockquote {
	&.scourge {
		background-color: transparentize($tyrian-purple, 0.75);
		border-left-color: $tyrian-purple;
		font-style: italic;
	}

	&.spellbreaker {
		background-color: transparentize($yellow-selective, 0.75);
		border-left-color: $yellow-selective;
		font-variant: small-caps;
	}

	&.malacath,
	&.volendrung {
		background-color: transparentize($forest-green, 0.75);
		border-left-color: $forest-green;
		font-weight: bold;
		text-align: center;
	}
}

.sz-1 {
	font-size: 200%;
}

.sz-2 {
	font-size: 150%;
}

.sz-4 {
	font-size: 90%;
}

.sz-5 {
	font-size: 80%;
}
