@use "../color";
@use "../components";
@use "../variables";

aside {
  @extend %block;
  @extend .block-stripe;
  @include components.shadow();

  background-color: var(--charcoal-bg);
}

blockquote {
  @extend %block;
  @extend .block-chevron;
  --block-color-fg: var(--charcoal);
  --block-color-bg: var(--bg) !important;

  background-color: var(--charcoal-bg);

  cite {
    &::before {
      content: "—";
    }
  }
}
