@mixin striped($color-bg, $color-fg, $angle: -45deg, $width: 12, $side: "") {
  border-color: var(--bg);
  border-style: solid;
  border#{$side}-width: #{$width}px;
  // TODO(myrrlyn): Figure out the math to use here. cos(angle) * width of two
  // stripes? Unsure.
  border-image: repeating-linear-gradient(
      $angle,
      $color-bg,
      $color-bg #{$width}px,
      $color-fg #{$width}px,
      $color-fg calc(#{$width}px * 2)
    )
    $width;
}

@mixin shadow($size: 0.25em) {
  box-shadow: $size $size var(--shadow);
}

%block {
  $scale: 12;
  --stripe-scale: #{$scale};
  --stripe-width: #{$scale}px;

  margin-block: 1em;
  margin-inline: 0;
  padding: 1em;

  & > :first-child {
    margin-block-start: 0;
  }
  & > :last-child {
    margin-block-end: 0;
  }

  & > * {
    margin-inline: 0;
  }
}
