.block-stripe {
  --block-color-fg: var(--text-fg);
  --block-color-bg: var(--bg);
  --stripe-scale: 12;
  --stripe-angle: 135deg;

  border-color: var(--block-color-bg);
  border-style: solid;
  border-width: calc(var(--stripe-scale) * 1px);
  border-image-source: repeating-linear-gradient(
    var(--stripe-angle),
    var(--block-color-fg) calc(var(--stripe-scale) * 1px * calc(0)),
    var(--block-color-fg) calc(var(--stripe-scale) * 1px * calc(1)),
    var(--block-color-bg) calc(var(--stripe-scale) * 1px * calc(1)),
    var(--block-color-bg) calc(var(--stripe-scale) * 1px * calc(2))
  );
  border-image-slice: var(--stripe-scale);
  border-image-repeat: round;
}

.block-chevron {
  --block-border-width: 0.5em;

  border: calc(var(--block-border-width) / 2) solid var(--block-color-bg);
  border-inline-start: var(--block-border-width) solid var(--block-color-fg);
  padding-inline-start: 1em;
}

.block-red {
  --block-color-bg: var(--ansi-white);
  --block-color-fg: var(--ansi-red);
  background-color: var(--ansi-red-bg);

  &.iso7010 {
    --block-color-fg: var(--iso-red);
    background-color: var(--iso-red-bg);
  }
}

.block-orange {
  --block-color-bg: var(--ansi-black);
  --block-color-fg: var(--ansi-orange);
  background-color: var(--ansi-orange-bg);

  &.iso7010 {
    --block-color-fg: var(--iso-orange);
    background-color: var(--iso-orange-bg);
  }
}

.block-yellow {
  --block-color-bg: var(--ansi-black);
  --block-color-fg: var(--ansi-yellow);
  background-color: var(--ansi-yellow-bg);

  &.iso7010 {
    --block-color-fg: var(--iso-yellow);
    background-color: var(--iso-yellow-bg);
  }
}

.block-green {
  --block-color-bg: var(--ansi-white);
  --block-color-fg: var(--ansi-green);
  background-color: var(--ansi-green-bg);

  &.iso7010 {
    --block-color-fg: var(--iso-green);
    background-color: var(--iso-green-bg);
  }
}

.block-blue {
  --block-color-bg: var(--ansi-white);
  --block-color-fg: var(--ansi-blue);
  background-color: var(--ansi-blue-bg);

  &.iso7010 {
    --block-color-fg: var(--iso-blue);
    background-color: var(--iso-blue-bg);
  }
}

.block-purple {
  --block-color-bg: var(--ansi-white);
  --block-color-fg: var(--ansi-purple);
  background-color: var(--ansi-purple-bg);
}

.block-harm {
  @extend .block-red;
}

.block-warn {
  @extend .block-yellow;
}

.block-safe {
  @extend .block-green;
}

.block-info {
  @extend .block-blue;
}
