@use "../components";
@use "../color";
@use "../color/ansi";
@use "../color/iso";
@use "../color/langs";

@mixin codeblock($lang, $color-bg, $color-fg: var(--text-fg), $font: null) {
  &.codeblock-#{$lang} {
    --block-color-fg: #{$color-fg};
    --block-color-bg: #{$color-bg};
    background-color: transparentize($color-bg, 0.85);

    .lang-marker {
      background-color: $color-bg;
      color: $color-fg;
    }

    @if ($font != null) {
      code {
        @extend %#{$font};
      }
    }
  }
}

& > .code-container {
  @include components.shadow(0.5em);
}

.code-container {
  @extend %block;
  @extend .block-stripe;

  --stripe-scale: 10;
  border-width: 0 0 0 12px;

  // Allow .copy-icon to anchor to its enclosing .code-container
  position: relative;

  .lang-marker {
    background-color: var(--charcoal-bg);
    color: var(--text-fg);
    position: relative;
    top: -0.5em;
    margin-inline-start: -1em;
    padding: 0.5em 1em;

    --curve-radius: 1.2em;
    border-start-end-radius: var(--curve-radius);
    border-end-end-radius: var(--curve-radius);
  }

  .copy-icon {
    height: 2em;
    aspect-ratio: 1;
    display: inline-block;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    top: 0;
  }

  pre.codeblock {
    margin-block-start: 0;

    code,
    samp {
      display: block;
      padding: 1em;
    }
  }

  @include codeblock(c, langs.$c);
  @include codeblock(console, langs.$console, $color-fg: var(--ansi-black));
  @include codeblock(cosmos, langs.$cosmos);
  @include codeblock(cpp, langs.$cpp);
  @include codeblock(css, langs.$css);
  @include codeblock(elixir, langs.$elixir);
  @include codeblock(erlang, langs.$erlang);
  @include codeblock(html, langs.$html);
  @include codeblock(js, langs.$js, $color-fg: var(--ansi-black));
  @include codeblock(md, langs.$md, $color-fg: var(--ansi-white));
  @include codeblock(rust, langs.$rust, $color-fg: var(--ansi-black));
  @include codeblock(ps1, langs.$pwsh, $color-fg: var(--ansi-white));
  @include codeblock(rust_errors, ansi.$red, $color-fg: var(--ansi-white));
  @include codeblock(scss, langs.$scss);
  @include codeblock(sh, langs.$shell, $color-fg: var(--ansi-black));
  @include codeblock(shell, langs.$shell);
  @include codeblock(toml, langs.$toml);
  @include codeblock(xml, langs.$xml, $color-fg: var(--ansi-white));

  @include codeblock(text, langs.$text);
}

pre {
  overflow-x: auto;
}

pre.codeblock-console {
  background-color: black;
  color: var(--ansi-white);
}
