@use "block";
@use "../color/langs";

@mixin codeblock(
  $lang,
  $color-bg,
  $color-fg: var(--text-fg),
  $font: text-mono
) {
  &.codeblock-#{$lang} {
    background-color: transparentize($color-bg, 0.85);
    border-width: 0;
    @include block.striped(
      var(--text-fg),
      $color-bg,
      $side: "-inline-start",
      $angle: -45deg
    );

    span.lang-marker {
      background-color: $color-bg;
      color: $color-fg;
    }
  }

  code,
  code span {
    @extend %#{$font};
  }
}

& > .code-container {
  @include block.shadow(0.5em);
}

.code-container {
  @extend %block;

  border-inline-start: 10px solid var(--charcoal);

  // Allow .copy-icon to anchor to its enclosing .code-container
  position: relative;

  .lang-marker {
    background-color: var(--charcoal-bg);
    color: var(--text-fg);
    position: relative;
    top: -0.5em;
    margin-inline-start: -1em;
    padding: 0.5em 1em;

    --curve-radius: 1.2em;
    border-start-end-radius: var(--curve-radius);
    border-end-end-radius: var(--curve-radius);
  }

  @include codeblock(c, $lang-c);
  @include codeblock(console, $lang-console, $font: text-term);
  @include codeblock(cosmos, $lang-cosmos, $font: text-term);
  @include codeblock(cpp, $lang-cpp);
  @include codeblock(css, $lang-css);
  @include codeblock(elixir, $lang-elixir);
  @include codeblock(erlang, $lang-erlang);
  @include codeblock(html, $lang-html);
  @include codeblock(js, $lang-js);
  @include codeblock(md, $lang-md);
  @include codeblock(rust, $lang-rust);
  @include codeblock(ps1, $lang-pwsh, $color-fg: var(--iso-white));
  @include codeblock(
    rust_errors,
    $iso-red,
    $color-fg: var(--iso-white),
    $font: text-term
  );
  @include codeblock(scss, $lang-scss);
  @include codeblock(sh, $lang-shell, $font: text-term);
  @include codeblock(shell, $lang-shell);
  @include codeblock(toml, $lang-toml);
  @include codeblock(xml, $lang-xml, $color-fg: var(--iso-white));

  @include codeblock(plaintext, $lang-plaintext, $font: text-term);

  .copy-icon {
    height: 2em;
    aspect-ratio: 1;
    display: inline-block;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    top: 0;
  }

  pre.codeblock {
    margin-block-start: 0;
  }
}

div.code-container {
  @extend %block;
}

pre {
  overflow-x: auto;
}

pre.codeblock-console {
  @extend %block;

  background-color: var(--black);
  color: var(--white);
}
