@use "../font";

%heading {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;

  // font-family: /* "Ferro Rosso", */ "Roboto Slab", serif;
  // @extend %text-serif;
  font-variant: small-caps;

  line-height: 1;
  margin-block-start: 0em;
  margin-block-end: 0.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %heading;

  span::before {
    // @extend %text-serif;
    font-size: 0.85em;
    padding-inline-end: 0.25em;
  }
}

a.mark-ss {
  font-size: 0.6em;
  padding-block-start: 0.125em;
  padding-inline-end: 0.125em;
  position: relative;
  top: -0.25em;
}

h1 {
  color: var(--ansi-purple);
  font-size: 4em;
}

h2 {
  color: var(--ansi-blue);
  font-size: 3.5em;

  &.subtitle {
    color: var(--ansi-orange);
  }
}

h3 {
  color: var(--ansi-green);
  font-size: 3.25em;
}

h4 {
  color: var(--ansi-yellow);
  font-size: 3em;
}

h5 {
  color: var(--ansi-red);
  font-size: 2.5em;
}

h6 {
  color: var(--ansi-orange);
  font-size: 2em;
}
