@import "../color/ansi";

table {
  border: 2px solid var(--text-fg);
  border-collapse: collapse;
  padding: 1ch;
  margin: 0 auto;

  caption {
    margin-block: 0.5ch;
  }

  thead th {
    border-bottom: 2px solid var(--text-fg);
  }
  tfoot th {
    border-top: 2px solid var(--text-fg);
  }
  td {
    border: 1px solid var(--text-fg);
  }

  th {
    border: 0 solid var(--text-fg);
    border-inline-start-width: 1px;
    border-inline-end-width: 1px;
    text-align: center;
  }

  th,
  td {
    padding: 0.25ch 0.5ch;
  }
}
