<article>
	<header class="frontmatter">
		<h1><%= @page.meta.title %></h1>
		<%= if @meta.show_toc do %>
			<nav aria-label="Table of Contents">
				<%= render(HomeWeb.LayoutView, "toc.html", toc: @page.toc) %>
			</nav>
			<hr />
		<% end %>
	</header>
	<section>
		<%= @page.content |> raw %>
	</section>
</article>
