<?xml version="1.0" encoding="UTF-8"?>
<urlset
	xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
>
	<%= for {_, url, _} <- HomeWeb.PageController.page_listing() do %>
		<url>
			<loc><%= ["https://myrrlyn.net", url] |> Path.join %></loc>
			<priority>0.6</priority>
		</url>
	<% end %>
	<%= for {_, url, _} <- HomeWeb.BlogController.page_listing() do %>
		<url>
			<loc><%= ["https://myrrlyn.net", url] |> Path.join %></loc>
			<priority>0.5</priority>
		</url>
	<% end %>
	<%= for {_, url, _} <- HomeWeb.OeuvreController.page_listing() do %>
		<url>
			<loc><%= ["https://myrrlyn.net", url] |> Path.join %></loc>
			<priority>0.4</priority>
		</url>
	<% end %>
</urlset>
