!!!
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
	- for {_, url, _} <- HomeWeb.PageController.page_listing do
		%url
			%loc= ["https://myrrlyn.net", url] |> Path.join
			%priority 0.6
	- for {_, url, _} <- HomeWeb.BlogController.page_listing do
		%url
			%loc= ["https://myrrlyn.net", url] |> Path.join
			%priority 0.5
	- for {_, url, _} <- HomeWeb.OeuvreController.page_listing do
		%url
			%loc= ["https://myrrlyn.net", url] |> Path.join
			%priority 0.4
