<article>
	<h1>Not Found</h1>
	<p>
		This URL does not have any content associated with it. If you are following
		a link that used to work, please contact me or file an issue at
		<%= link "the GitHub repository", to: "https://github.com/myrrlyn/home/issues/new?title=Broken%20link&body=A%20link%20that%20used%20to%20work%20is%20now%20broken" %>.
	</p>
</article>
