%article
	%h1#title Category Under Construction
	%p
		Category listings are currently not implemented on the new site. You can
		view the articles separated by category on the blog index.
	%p
		I am working on restoring this feature; I just haven’t gotten to it yet.
