<article>
	<h1 id="title">Article Under Construction</h1>
	<p>
		This URL is valid! However, the article contents it selects are
		currently unable to be rendered. The article source is
		<%= link "here", to: @github %> and you can file an issue directly, or
		contact me through any other medium. I <em>probably</em> already know
		it’s broken, but I would rather be over-informed than under.
	</p>
</article>
