<article>
	<h1 id="title">Article Not Found</h1>
	<p>
		No article could be found at the requested path
		<code><%= @req_url %></code>. If you are following a URL that used to
		work, please contact me or file an issue at
		<a href="https://github.com/myrrlyn/home/issues/new?title=Broken%20link&body=A%20link%20that%20used%20to%20work%20is%20now%20broken">
			the GitHub repository
		</a>.
		All articles currently live are listed in the directory to the left or
		below.
	</p>
</article>
