<audio id="<%= @ident %>-sound" controls
	<%= if @audio |> Map.get("repeat", false), do: "loop", else: "" %>
>
	<source src="<%= @audio["src"] %>" />
	<p>
		Your browser does not appear to support the <code>&lt;audio&gt;</code>
		element. The song is <em><%= @audio["title"] %></em>, and you can download
		it <a href="<%= @audio["src"] %>">from this link</a>,
	</p>
</audio>
