<article>
	<%= @page.content |> raw %>
	<h2>Tags</h2>
	<%= for {tag, tagged} <- @tagset do %>
		<div class="tagset">
			<h3><%= "#" <> tag %></h3>
			<ul>
				<%= for {name, path} <- tagged do %>
					<li>
						<%= link name, to: path, class: "title" %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
</article>
