%article
	= @page.content |> raw
	%h2 Tags
	- for {tag, tagged} <- @tagset do
		%div.tagset
			%h3= "##{tag}"
			%ul
				- for {name, path} <- tagged do
					%li
						%a.title{href: "#{path}"}= name
