<.link href={"//github.com/myrrlyn/home/issues/new/?title=#{@title |> String.replace(" ", "%20")}&body=#{@body |> String.replace(" ", "%20") |> String.replace("/", "%2F")}"}>file an issue at the GitHub repository</.link>
