<div id="about-logos">
  <p class="text-center">
    <.link href="//www.w3.org/html/logo"><img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-multimedia-semantics.png" alt="Written to HTML5/CSS3" title="Written to HTML5/CSS3" /></.link><!--
    --><.link href="//elixir-lang.org"><img src="/static/images/elixir-square.png" alt="Served by Elixir" title="Served by Elixir" /></.link><!--
    --><.link href="//www.phoenixframework.org"><img src="/static/images/poweredby-phoenix-badge1-02.png" alt="Built by Phoenix" title="Built by Phoenix" /></.link>
  </p>
</div>
