<div id="page-logo" class="logo gravatar">
  <.link href="/">
    <svg id="gravatar" xmlns="http://www.w3.org/2000/svg" viewBox="-80 -80 160 160">
      <image id="face" x="-80px" y="-80px" width="160px" height="160px" href={@src} />
      <line id="minute" class="clock-hand" x1="0" y1="0" x2="0" y2="-25" />
      <line id="hour" class="clock-hand" x1="0" y1="0" x2="0" y2="-15" />
    </svg>
    <%!-- <img id="gravatar" src={@src} alt="Gravatar" /> --%>
  </.link>
</div>
