<article>
  <p>
    I like to use pictures of landscapes for my banner images. Here are all
    the banners I currently serve.
  </p>
  <section :for={{heading, images} <- @gallery}>
    <.banners heading={heading} images={images} root="/static/images/banners" />
  </section>
</article>
