<article>
  <header class="frontmatter" :if={assigns[:page]}>
    <%= @page.content |> raw %>
  </header>
  <section :for={{heading, images} <- @gallery}>
    <.images heading={heading} images={images} root={@directory} />
  </section>
</article>
