%article
	%section
		= @page.content |> raw
	%section
		%ol
			- for {name, slug, count, desc} <- @groups do
				%li{value: "#{count}"}
					%a{href: "/blog/#{slug}"}= name
					- if desc do
						%br
						= desc |> Earmark.as_html! |> raw
